.th-descriptionSize{
    width: 11%;
}
.td-img-size{
    width: 25%;
}
.th-name-major{
    text-align: left;
}
.text-left-topic{
    width: 30%;
}

/* .row{
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
.form-check-input {
    position: inherit;
    margin-top: 0;
    margin-left: 0;
}
.add-major-custom{
    background-color:  rgb(116, 60, 7);
    font-size: larger;
    border-radius: 3px;
}
.add-major-custom:hover {
    /* color: #922301; */
    background-color: rgb(236, 153, 94);
} 
.td-status-active-major{
    color: darkgreen;
    font-size: large;
}
.td-status-inactive-major{
    color: darkred;
    font-size: large;

}.th-major-header-form{
    color :rgb(116, 60, 7)
}
.view-major{
    text-align: end;
    font-size: larger;
    font-weight: 700;
}
.fa-image:before{
font-size: large;

}
.fa, .fas {
    font-weight: 900;
    font-size: large;

}
.fa, .fas, .far, .fal, .fad, .fab {
    width: 15px;
}
.text-left-topic-toolpi{
    width: 100%;
}