.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 10px;
  }
  .login__textBox {
    padding: 60px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .google-btn {
    margin: 0 auto;
    width: 384px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  
  .google-btn .google-icon {
    position: absolute;
    margin-top: 8px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
  }
  .google-btn .btn-text {
    float: right;
    margin: 8px 110px 0 0;
    color: #FEFBF3;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    cursor: pointer;
  }
  .google-btn:active {
    background: #1669f2;
  }
  